<div class="col-sm-12 col-md-8 offset-md-2 mt-3 p-0 post-container">
    <div class="media pt-3 pl-3 pb-1">
        <a href="{% url "users:profile" post.post.user.username %}">
            <img class="mr-3 rounded-circle" height="35" src="{{ post.post.profile.picture.url }}" alt="{{ post.post.user.get_full_name }}">
        </a>
        <div class="media-body">
            <p style="margin-top: 5px;">{{ post.post.user.get_full_name  }}</p>
        </div>
    </div>

    <img style="width: 100%;" src="{{ post.post.photo.url }}" alt="{{ post.post.title }}">

    <p class="mt-1 ml-2" >
        {% if post.liked %}
            <a href="#" onClick="like(event,{{post.post.pk}})" style="color: #000; font-size: 20px; text-decoration: none">
                <i class="{{post.liked}} fas fa-heart" style="color: rgb(241, 45, 45);"></i>
                {{post.post.likes}}
            </a>
        {% else %}
            <a href="#" onClick="like(event, {{ post.post.pk }} )"  style="color: #000; font-size: 20px; text-decoration: none;">
                <i class="{{post.liked}} far fa-heart" style="color: #000;"></i>
                <i>{{post.post.likes}}</i>
            </a>
        {% endif %}
        
    </p>
    <p class="ml-2 mt-0 mb-2">
        <b>{{ post.post.title }}</b> - <small>{{ post.post.created }}</small>
    </p>
</div>
